<!-- Выпадающее меню со счетчиком-->
div.room
	.iqdropdown
		p.iqdropdown-selection
		.iqdropdown-menu
			.iqdropdown-menu-option(data-id='спальни' data-defaultcount='1' data-mincount='1' id-declination='спальня,спальни,спален')
				p спальни
					
			.iqdropdown-menu-option(data-id='кровати' data-defaultcount='1' data-mincount='1' id-declination='кровать,кровати,кроватей') 
				p кровати
					 
			.iqdropdown-menu-option(data-id='ванные комнаты' data-defaultcount='0' data-mincount='0' id-declination='ванная комната,ванные комнаты,ванных комнат') 
				p ванные комнаты